@model v2.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row" style="padding: 3%;">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h4>Send your comments.</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromEmail)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-outline-primary" value="Send" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-8 ">
        <img src="~/Content/desktop-09b80587ec1421e3631e3ba5304030f6924199e46e477f7ef8cd07df8271d560.png" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}