@using v2.Models
@model IEnumerable<v2.Models.Project>

@{
    ViewBag.Title = "Home Page";
}
<header>
    <div class="anim-hover-bounce-in">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="~/Content/Internet%20of%20Things%20(IoT)%20%20What%20is%20IoT%20%20How%20it%20Works%20%20IoT%20Explained%20%20Edureka.mp4" type="video/mp4" />
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h2 class="display-3">IT hardware solutions portfolio</h2>
                    <p class="lead mb-0"> Arduino, Raspberry Pi, Internet Of Things</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron-fluid">
    <p class="text-center">@Html.ActionLink("customize or add your stunning solutions to the portfolio...", "Index", "Projects")</p>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" role="listbox">
        @{int i = 0;}
        @using (var ctx = new ProjectDBContext())
        {
            foreach (var project in ctx.Projects)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img alt="@project.Title" src="/Content/@Url.Content(project.URL)" class="slideimg img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@project.Title</h5>
                        <p>@project.Story</p>
                    </div>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="row-fluid">

        @using (var ctx = new ProjectDBContext())
        {
            foreach (var project in ctx.Projects)
            {
                <a href="@Url.Action("Details", "Projects", new { @id=project.ProjectID})">
                    <div class="anim-hover-grow" style="padding: 10px">
                        <div class="col-sm-6 col-md-2">
                            <div class="card">
                                <img class="card-img-top" alt="@project.Title" src="/Content/@Url.Content(project.URL)">
                                <div class="card-body">
                                    <h5 class="card-title">@project.Title</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }

</div>
<div id="divimage" class="modal">
    <img class="modal-content" id="modalimg">
    <div id="caption"></div>
</div>
