@model IEnumerable<v2.Models.Project>

@{
                /**/

                ViewBag.Title = "Index";
}

<div class="container">
    <button type="button" class="btn btn-default btn-lg">
        @Html.ActionLink("Create New", "Create")
    </button>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 16rem; margin-bottom: 2rem;">
                    <img class="card-img-top" src="/Content/@Url.Content(item.URL)" alt="@Html.DisplayFor(modelItem => item.Title)">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Story)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Department.DepartmentName)</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">@Html.ActionLink("Edit", "Edit", new { id = item.ProjectID })</a>
                        <a href="#" class="card-link">@Html.ActionLink("Details", "Details", new { id = item.ProjectID })</a>
                        <a href="#" class="card-link">@Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


